#font {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#btn-div {
  margin: 15px;
  text-align: center;
  align-content: center;
}

#btn {
  font-size: 25px;

}

#img {
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: 36%;
  width: 25%;
  align-content: center;
  text-align: center;
}
